.swiperWrapper {
    max-width: 440px;
    width: 100%;
    margin-top: 20px;
}

.projectsList {
    max-width: 440px;
    width: 100%;
    border-radius: 12px;
}

.imageItem {
    width: 100%;
    height: 100%;
    object-fit: 100%;
    border-radius: 12px;
}


.sevenImage {
    width: 100%;
    height: 234px;
    border-radius: 12px;
    margin-top: 8px;
}