.swiperWrapper {
    max-width: 460px;
    width: 100%;
    margin-top: 20px;
}

.projectsList {
    max-width: 460px;
    width: 100%;
    border-radius: 12px;
}

.imageItem {
    width: 100%;
    height: 100%;
    object-fit: 100%;
    border-radius: 12px;
}


.sevenImage {
    width: 100%;
    height: 234px;
    border-radius: 12px;
    margin-top: 8px;
}

.groupButton {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.buttonNext {
  right: 20px;
  width: 100%;
  max-width: 220px;
  background: rgba(255, 255, 255, 0.44);
  border: 1px solid rgba(129, 129, 129, 0.458);
  border-radius: 12px;
  padding: 14px 18px;
  font-size: 20px;
  line-height: 1.4;
  color: #2b2b2b;
  text-decoration: none;
  text-align: center;
}

.buttonPre {
  width: 100%;
  max-width: 220px;
  background: rgba(255, 255, 255, 0.44);
  border: 1px solid rgba(129, 129, 129, 0.458);
  border-radius: 12px;
  padding: 14px 18px;
  font-size: 20px;
  line-height: 1.4;
  color: #2b2b2b;
  text-decoration: none;
  text-align: center;
}