.heading {
    font-size: 52px;
    margin: 0px 0px 24px 0px;
    line-height: 1;
    color: rgba(245, 245, 245, 0.851);
    font-family: "Raleway", serif;
    text-shadow: 2px 4px 4px rgba(223, 222, 222, 0.5);
}

.container {
  padding: 20px 20px 180px 20px;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}

.guideContainer {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
    border: 2px dashed whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 12px;
  }
  
  .guideTitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #0073e6;
  }
  
  .guideSection {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #727073
  }
  
  .sectionTitle {
    font-size: 1.5rem;
    color: #005bb5;
    margin-bottom: 10px;
  }
  
  .sectionDescription {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .resourcesList {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .resourcesList li {
    margin-bottom: 5px;
  }
  
  .resourcesList a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .resourcesList a:hover {
    text-decoration: underline;
  }
  