.header {
  position: absolute;
  color: white;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  top: 20px;
  right: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1100;
}

.burger:hover,
.burger:focus,
.burger:active {
    border: none;
    outline: none;
}

.burgerLine {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 220px;
  height: 100%;
  background: #15193a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}

.nav.open {
  transform: translateX(0);
}

.link {
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s;
 
}

.link:nth-child(1) {
    background: linear-gradient(to right, transparent, blue);
}

.activeLink:nth-child(1) {
    background: linear-gradient(to left, transparent, blue);
    justify-content: end;
    padding-right: 12px;
}

.link:nth-child(2) {
    background: linear-gradient(to right, transparent, yellow);
}

.activeLink:nth-child(2) {
    background: linear-gradient(to left, transparent, yellow);
    justify-content: end;
    padding-right: 12px;
}

.link:nth-child(3) {
    background: linear-gradient(to right, transparent, orange);
}

.activeLink:nth-child(3) {
    background: linear-gradient(to left, transparent, orange);
    justify-content: end;
    padding-right: 12px;
}

.link:nth-child(4) {
    background: linear-gradient(to right, transparent, green);
}

.activeLink:nth-child(4) {
    background: linear-gradient(to left, transparent, green);
    justify-content: end;
    padding-right: 12px;
}

.link:hover,
.link.active {
  color: #66ccff;
}
