.heading {
  margin: 0px;
  line-height: 1;
  color: #2b2b2b;
  font-family: "Raleway", serif;
  font-size: 28px;
  font-weight: 800;
  padding: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  text-shadow: 2px 4px 4px rgba(223, 222, 222, 0.5);
}