.heading {
    margin: 0px 0px 24px 0px;
    line-height: 1;
    color: rgba(245, 245, 245, 0.851);
    font-family: "Raleway", serif;
    font-size: 28px;
    font-weight: 800;
    padding-left: 12px;
    height: 56px;
    display: flex;
    align-items: center;
    text-shadow: 2px 4px 4px rgba(223, 222, 222, 0.5);
    background: linear-gradient(to right, transparent, transparent, yellow);
}

.container {
    padding: 20px 20px 20px 20px;
    position: relative;
}

.title {
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(129, 129, 129, 0.458);
  border-radius: 12px;
  padding: 14px 18px;
  font-size: 20px;
  line-height: 1.4;
  color: #2b2b2b;
  margin-top: 0;
}

.image {
    width: 40px;
    height: 40px;
}

.list {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: space-between;
}

.link {
    padding: 4px 8px;
    border-radius: 8px;
    
}

.link a {
    display: flex;
    gap: 8px;
    text-decoration: none;
    align-items: center;
}

.list .link:nth-child(1) {
    background-color: #0088cc;
}

.list .link:nth-child(2) {
    background-color: #5865F2;
}

.list .link:nth-child(3) {
    background-color: #1877f2;
}

.descr { 
    color: #ffffffe7;
    font-size: 16px;
    font-weight: 700;  
}