.beginBox {
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(129, 129, 129, 0.458);
  border-radius: 12px;
  padding: 14px 18px;
  font-size: 20px;
  line-height: 1.4;
  color: #2b2b2b;
  margin-top: 20px;
}

.beginBox h4 {
    margin: 8px 0px 0px 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.beginBox p {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.25;
}