body {
    margin: 0;
    background-color: #211F27;
    background-image: url(../src/assets/images/stars.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* #727073 */